body{
	color: #FFBC00;
	background-color: #8E41D5;
	text-align: center;
}

legend{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 2px white;
	color: #FFFFF6;
	text-align: center
}

table{

}

h2{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 5px white;
	color: #FFBC00;
}